.container {
    width: 100%;
    flex: 1.2;
    position: fixed;
    top: -100px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(221, 219, 252, 0.25);
    font-family: var(--Font);
    width: 210mm;
    min-height: 297mm;
    height: 100%;
    transform: scale(0.5);
    border: rgb(163, 162, 162) 1px solid;
}

.resume {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
}

@media only screen and (max-width:998px) {
    .container {
        width: 100%;
        flex: 1.2;
        border-radius: 2px;
        position: fixed;
        top: -200px;
        font-family: var(--Font);
        width: 210mm;
        min-height: 297mm;
        height: 100%;
        transform: scale(0.5);
    }
}

@media only screen and (max-width:600px) {
    .container {
        width: 100%;
        flex: 1.2;
        border-radius: 2px;
        position: fixed;
        top: -200px;
        font-family: var(--Font);
        width: 210mm;
        min-height: 297mm;
        height: 100%;
        transform: scale(0.4);
    }
}

.header {
    background-color: var(--color);
    padding: 10px;
    height: 250px;
    margin-bottom: 20px;
}

.header .name {
    color: #fff;
    font-size: 32px;
    margin: 10px 0px;
    font-weight: 700;
    text-transform: capitalize;
}

.header .subHeading {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.header .links {
    display: flex;
    flex-wrap: wrap;
}

.header .link {
    font-size: 15px;
    display: block;
    margin: 5px;
    cursor: pointer;
}

.header .link svg {
    color: #fff;
    height: 20px;
    width: 10px;
    margin-right: 5px;
}

.main {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.section .sectionTitle {
    font-size: .8rem;
    font-weight: bolder;
    text-transform: uppercase;
    border-bottom: 2px solid var(--color);
}

.section .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.section .content .item {
    border-bottom: 2px dotted lightgray;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 10px;
}

.section .content .item:last-child {
    border-bottom: none;
}

.content .title {
    font-weight: 500;
    font-size: .8rem;
    margin: 0;
    padding: 0;
}

.content .subTitle {
    font-weight: bold;
    color: #000;
    font-size: .6rem;
    margin: 0;
    padding: 0;
}

.content .overview {
    font-size: 0.6rem;
}

.content .link {
    display: flex;
    gap: 5px;
    font-size: 0.6rem;
    cursor: pointer;
    color: #000;
    margin: 0;
    padding: 0;
}

.content .link svg {
    height: 14px;
    width: 7px;
    color: #000;
}

.content .date {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 0.6rem;
}

.content .date svg {
    height: 14px;
    width: 7px;
}

.content .points,
.numbered {
    padding-left: 18px;
    font-size: 0.6rem;
    margin: 0;
}

.numbered li {
    list-style-type: decimal;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.location {
    margin: 0;
    padding: 0;
}