    .container {
        width: 100%;
        flex: 1.2;
        position: fixed;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 0 0 0.2rem rgba(221, 219, 252, 0.25);
        font-family: var(--Font);
        width: 210mm;
        min-height: 297mm;
        height: 100%;
    }
    
    .resume {
        position: relative;
        display: flex;
        align-items: center;
        transform: scale(0.5);
        top: 60px;
        left: -60px;
    }
    
    @media only screen and (max-width: 991.9px) {
        .resume {
            top: -500px;
            transform: scale(0.4);
            justify-content: left;
            min-height: 297mm;
            height: 100%;
        }
    }
    
    @media only screen and (max-width:480px) {
        .resume {
            left: -65px;
        }
    }
    
    @media only screen and (max-width:456px) {
        .resume {
            left: -75px;
        }
    }
    
    @media only screen and (max-width:400px) {
        .resume {
            left: -85px;
        }
    }
    
    @media only screen and (max-width:364px) {
        .resume {
            left: -90px;
        }
    }
    
    @media only screen and (max-width:357px) {
        .resume {
            left: -70px;
            transform: scale(0.3);
        }
    }
    
    @media only screen and (max-width:315px) {
        .resume {
            left: -60px;
            transform: scale(0.2);
        }
    }
    
    .header {
        background-color: var(--color);
        padding: 10px;
        height: 250px;
        margin-bottom: 20px;
    }
    
    .header .name {
        color: #fff;
        font-size: 32px;
        margin: 10px 0px;
        font-weight: 700;
        text-transform: capitalize;
    }
    
    .header .subHeading {
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 15px;
        text-transform: capitalize;
    }
    
    .header .links {
        display: flex;
        flex-wrap: wrap;
    }
    
    .header .link {
        font-size: 15px;
        display: block;
        margin: 5px;
        cursor: pointer;
    }
    
    .header .link svg {
        color: #fff;
        height: 20px;
        width: 10px;
        margin-right: 5px;
    }
    
    .main {
        display: flex;
        gap: 30px;
        padding: 20px;
    }
    
    .section .sectionTitle {
        font-size: .8rem;
        font-weight: bolder;
        text-transform: uppercase;
        border-bottom: 2px solid var(--color);
    }
    
    .section .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }
    
    .section .content .item {
        border-bottom: 2px dotted lightgray;
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-bottom: 10px;
    }
    
    .section .content .item:last-child {
        border-bottom: none;
    }
    
    .content .title {
        font-weight: 500;
        font-size: .8rem;
        margin: 0;
        padding: 0;
    }
    
    .content .subTitle {
        font-weight: bold;
        color: #000;
        font-size: .6rem;
        margin: 0;
        padding: 0;
    }
    
    .content .overview {
        font-size: 0.8rem;
        word-wrap: break-word;
    }
    
    .content .link {
        display: flex;
        gap: 5px;
        font-size: 0.6rem;
        cursor: pointer;
        color: #000;
        margin: 0;
        padding: 0;
    }
    
    .content .link svg {
        height: 14px;
        width: 7px;
        color: #000;
    }
    
    .content .date {
        display: flex;
        gap: 5px;
        align-items: center;
        font-size: 0.6rem;
    }
    
    .content .date svg {
        height: 14px;
        width: 7px;
    }
    
    .content .points,
    .numbered {
        padding-left: 18px;
        font-size: 0.6rem;
        margin: 0;
    }
    
    .numbered li {
        list-style-type: decimal;
        margin: 0;
        padding: 0;
    }
    
    .hidden {
        display: none;
    }
    
    .location {
        margin: 0;
        padding: 0;
    }