.card-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 30px;
    float: left;
    background-color: #fff;
    border-radius: 10px;
}

.card-box .card-thumbnail {
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
    transition: 1s;
}

.card-box .card-thumbnail:hover {
    transform: scale(1.2);
}

.card-box h3 a {
    font-size: 20px;
    text-decoration: none;
}


/* Courses */

section.courses {
    background-image: url(../images/choosing-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #172238;
}