.colors {
    display: flex;
}

.colors .color {
    margin: 0px 10px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #239ce2;
}

.colors .active {
    border: 2px solid #000;
}