.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    max-width: 990px;
    width: 100%;
}

.colors .color {
    height: 30px;
    cursor: pointer;
    width: 30px;
    margin: 8px;
    border-radius: 50%;
    background-color: #239ce2;
}

.colors .active {
    border: 2px solid #000;
    filter: blur(1px);
}

.badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.times {
    right: 0;
    top: -40px;
}