.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    max-width: 990px;
    width: 100%;
     
}

.colors .color {
    height: 30px;
    cursor: pointer;
    width: 30px;
    margin: 8px;
    border-radius: 50%;
    background-color: #239ce2;
}

.colors .active {
    border: 2px solid #000;
    filter: blur(1px);
}
