.accordion-faqs p{
    color: rgb(58, 57, 57);
}
.accordion-faqs h6{
    color: rgb(32, 32, 32);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    width: 500px;
}

.item {
    padding: 10px 20px;
}

.faq-title {
    cursor: pointer;
}

.faq-body {
    font-size: 25px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.6s cubic-bexier(0, 1, 0, 1);
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.6s cubic-bexier(0, 1, 0, 1);
}
